:root {
  /* ===== Attatched Files Variables ===== */
  // wrapper
  --ds-attached-files-border-color: #e6e6e6;
  --ds-attached-files-bg: transparent;

  // header
  --ds-attached-file-header-title-text-color: var(--ds-color-black-2);
  --ds-attached-file-header-border-color: #d7d7d78c;
  --ds-attached-file-header-remove-all-bg: var(--ds-general-color-white);
  --ds-attached-file-header-remove-all-bg-hover: var(--ds-general-color-white);
  --ds-attached-file-header-remove-all-border-color: #d4d4d4;
  --ds-attached-file-header-remove-all-border-color-hover: #444;

  // item
  --ds-attached-file-item-bg: #f7f7f7;
  --ds-attached-file-item-border-color: #e8e8e8;

  // Drag & Drop
  --ds-attached-file-drag-and-drop-box-shadow: 0px 0px 30px 0px #dae0ef;
  --ds-attached-file-drag-and-drop-text-color: #0068be;
  --ds-attached-file-drag-and-drop-bg: rgba(242, 247, 253);

  /* ===== Content Form Variables ===== */
  // wrapper
  --ds-content-form-border-color: #e0e0e0;
  --ds-content-form-bg: var(--ds-general-color-white);
  --ds-content-form-box-shadow: 0px 0px 30px 0px #e3e3e3ad;

  // active - 드래그 앤 드롭 & 입력 시
  --ds-content-form-box-boder-color-active: #067ee1;

  // textarea
  --ds-content-form-textarea-placeholder-text-color: #9f9f9f;

  // button
  --ds-content-form-btn-border-color: #cccccc;

  // file Label
  --ds-content-form-file-label-border-color: #edebeb;
  --ds-content-form-file-label-bg: #f3f3f3;
  --ds-content-form-file-label-bg-hover: #e6e6e6;
  --ds-content-form-file-label-bg-icon: url(../../../assets/icons/form/fileIcon.svg);

  // submit Button
  --ds-content-form-submit-btn-border-color: #e6e6e6;
  --ds-content-form-submit-btn-bg: #ececec;

  // copy right
  --ds-copy-right-text-color: #adb0b3;
}
[theme="dark"] {
  /* ===== Attatched Files Variables ===== */
  // wrapper
  --ds-attached-files-border-color: #2d2d2d;
  --ds-attached-files-bg: #262b33;

  // header
  --ds-attached-file-header-title-text-color: var(--ds-general-color-white);
  --ds-attached-file-header-border-color: #4f4f4f;
  --ds-attached-file-header-remove-all-border-color-hover: #939393;
  --ds-attached-file-header-remove-all-bg: #454959;
  --ds-attached-file-header-remove-all-bg-hover: #5c6072;
  --ds-attached-file-header-remove-all-border-color: #1d1f2a;

  // item
  --ds-attached-file-item-bg: #171e2a;
  --ds-attached-file-item-border-color: #151e2d;

  // Drag & Drop
  --ds-attached-file-drag-and-drop-box-shadow: none;
  --ds-attached-file-drag-and-drop-text-color: #007be1;
  --ds-attached-file-drag-and-drop-bg: rgba(27, 33, 38);

  /* ===== Content Form Variables ===== */
  // wrapper
  --ds-content-form-border-color: #434343;
  --ds-content-form-bg: transparent;
  --ds-content-form-box-shadow: none;

  // active - 드래그 앤 드롭 & 입력 시
  --ds-content-form-box-boder-color-active: #067ee1;

  // textarea
  --ds-content-form-textarea-placeholder-text-color: var(--ds-general-color-white);

  // button
  --ds-content-form-btn-border-color: #5959598c;

  // file Label
  --ds-content-form-file-label-border-color: #a1a1a1;
  --ds-content-form-file-label-bg: #1d232a;
  --ds-content-form-file-label-bg-hover: #1d232a;
  --ds-content-form-file-label-bg-icon: url(../../../assets/icons/form/fileIcon-dark.svg);

  // submit Button
  --ds-content-form-submit-btn-border-color: #3d4256;
  --ds-content-form-submit-btn-bg: #3d4256;

  // copy right
  --ds-copy-right-text-color: #adb0b3;
}

.content__form_wrapper {
  width: 100%;
  display: flex;
  flex: 1;
  .content__inner {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    max-width: 930px;
    overflow: hidden;
  }
}

// 전체 영역 감싸는 태그
.content__form_section {
  border: 1px solid var(--ds-content-form-border-color);
  background-color: var(--ds-content-form-bg);
  // padding: 0.7em 1em 0.87em;
  border-radius: 3.125em;
  box-shadow: var(--ds-content-form-box-shadow);
  position: relative;

  .form-backdrop {
    display: none;
  }

  // 텍스트 입력 또는 드래그 앤 드롭 활성화 시
  &.active {
    border-color: var(--ds-content-form-box-boder-color-active);
    border-width: 1.5px;
  }

  // 드래그 앤 드롭 활성화 시
  &.dragging {
    border-color: var(--ds-content-form-box-boder-color-active);
    border-style: dashed;
    border-width: 1.5px;
    box-shadow: var(--ds-attached-file-drag-and-drop-box-shadow);
    overflow: hidden;

    .form-backdrop {
      position: absolute;
      inset: 0;
      // backdrop-filter: blur(1.5px);
      background-color: var(--ds-attached-file-drag-and-drop-bg);
      z-index: 1000;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      color: var(--ds-attached-file-drag-and-drop-text-color);
    }
  }

  // 길이가 긴 메시지일 때
  &.long {
    border-radius: 1.25em;

    .content__form {
      flex-direction: column;

      &-textarea {
        padding-bottom: 0;
      }

      &_btn {
        margin-bottom: 0.625em;
        margin-top: 0;
      }
    }
  }

  // 첨부파일 있을 때
  &.hasFile {
    border-radius: 1.25em;
    &-textarea {
      padding-bottom: 0;
    }

    &_btn {
      margin-bottom: 0.625em;
      margin-top: 0;
    }
  }
}

// 첨부파일
.attached-files {
  background-color: var(--ds-attached-files-bg);
  border-radius: 10px;
  padding: 0.75em 0.75em 0 1.25em;
  width: 100%;
  display: flex;
  gap: 0.5625em;

  .attached-file {
    &-header {
      padding-bottom: 6px;
      margin-bottom: 6px;
      order: 2;
      flex-shrink: 0;

      &-title {
        font-size: calc(var(--ds-font-size-base) * 1.0625);
        color: var(--ds-attached-file-header-title-text-color);
      }

      &-remove-all {
        background-color: var(--ds-attached-file-header-remove-all-bg);
        border: 1px solid var(--ds-attached-file-header-remove-all-border-color);
        color: var(--ds-main-text-primary);
        font-size: calc(var(--ds-font-size-base) * 0.8125);
        border-radius: 0.4615em;
        max-height: 25px;
        justify-content: center;
        padding: 0.4615em;

        &:hover {
          border-color: var(--ds-attached-file-header-remove-all-border-color-hover);
          background-color: var(--ds-attached-file-header-remove-all-bg-hover);
        }
      }
    }
    &-list {
      display: flex;
      // flex-wrap: wrap;
      gap: 0.5em;
      max-height: 137px;
      overflow-y: auto;
      width: 100%;
      // 가로 스크롤 상단에 생기도록
      overflow-x: auto;
      overflow-y: hidden;
      transform: rotateX(180deg);
      > * {
        transform: rotateX(180deg);
      }
    }
    &-item {
      display: flex;
      padding: 0.5em;
      background-color: var(--ds-attached-file-item-bg);
      border: 1px solid var(--ds-attached-file-item-border-color);
      border-radius: 0.75em;
      max-width: 100%;
      width: fit-content;
      margin-bottom: 4px;
    }
    &-info {
      display: flex;
      align-items: center;
      width: calc(100% - 18px);
    }
    &-icon {
      width: 29px;
      height: 29px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e8e8e8;
      border-radius: 8px;
      margin-right: 5px;
      flex-shrink: 0;
    }
    &-name {
      text-overflow: ellipsis;
      overflow: hidden;
      color: var(--ds-main-text-primary);
      white-space: nowrap;
      width: calc(100% - 50px);

      // 파일이 2개 이상일 때 말줄임 표시
      &.file-name-ellipsis {
        max-width: 149px;
      }
    }
    &-size {
      color: #727272;
      margin: 0 9px 0 4px;
      white-space: nowrap;
    }
    &-remove {
      width: 20px;
      height: 20px;
      color: var(--ds-general-color-white);
      background-color: var(--ds-color-black-2);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border: none;
    }
  }
}

// 검색
.content__form {
  position: relative;
  display: flex;
  gap: 0.5em;
  // flex-direction: column;

  .content__inner {
    padding-top: 1em;
  }

  &-textarea {
    // reset 공통
    resize: none;
    padding: 0;
    border: none;
    outline: none;

    height: 62px;
    line-height: 1.3em;
    width: 100%;
    padding: 1.2em 1.55em 1.15em 1.55em;
    transition: height 0.15s;
    max-height: 26vh;
    font-size: calc(var(--ds-font-size-base) * 1.0625);
    background: transparent;
    color: var(--ds-main-text-primary);
    position: relative;

    &::placeholder {
      color: var(--ds-content-form area-placeholder-text-color);
      font-size: calc(var(--ds-font-size-base) * 0.875);
    }
  }

  // 버튼 전체 감싸는 태그
  &_btn {
    // border-top: 1px solid var(--ds-content-form-btn-border-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    margin-right: 0.875em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  &-file-label {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--ds-content-form-file-label-border-color);
    background: var(--ds-content-form-file-label-bg-icon) center/20px no-repeat;
    background-color: var(--ds-content-form-file-label-bg);
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: var(--ds-content-form-file-label-bg-hover);

      .tooltip {
        // display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .tooltip {
    position: absolute;
    background-color: var(--ds-color-black-2);
    border: 1px solid var(--ds-color-black-1);
    font-weight: 600;
    font-size: 13px;
    color: var(--ds-general-color-white);
    border-radius: 7px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0784313725);
    padding: 9px 10px;
    white-space: nowrap;
    bottom: calc(100% + 14px);
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
  }

  &-submit.ds-button {
    border: 1px solid var(--ds-content-form-submit-btn-border-color);
    background: var(--ds-content-form-submit-btn-bg);
    border-radius: 50%;
    color: var(--ds-color-black-2);
    height: 2.849em;
    width: 2.849em;
    cursor: not-allowed;

    // 활성화
    &.active {
      background-color: #007dc3;
      border-color: #0073b3;
      color: var(--ds-general-color-white);
      cursor: pointer;

      .button-icon-svg {
        path {
          stroke: #0074d4;
        }
      }

      &:hover {
        background-color: #0270af;
        border-color: #0270af;
      }
    }
  }
}

// 하단 카피라이트
.copy_right {
  text-align: center;
  justify-self: end;
  margin: 10px 0;
  font-size: calc(var(--ds-font-size-base) * 0.8125);
  color: var(--ds-copy-right-text-color);
}

@media (max-width: 640px) {
  .content__form_wrapper {
    .content__inner {
      justify-content: flex-end;
    }
  }
}
