/* 알림 토스트 */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  transform: translateX(120%);
  transition: transform 0.3s ease;
  border: 1px solid transparent;
  font-size: 14px;
  min-width: 350px;
  max-width: 410px;

  &-content {
    padding: 14px 20px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 17px;
  }

  &-icon {
    flex-shrink: 0;
    line-height: 0;
  }

  /* 활성화 */
  &.show {
    transform: translateX(0);
  }

  &.success {
    background: #ebfbf6;
    border-color: #ade0d0;
    color: #039855;
  }
  &.error {
    background: #fdedee;
    border-color: #f4d0d3;
    color: #d92d20;
  }
  &.warning {
    background: #fff9e9;
    border-color: #ebe3cf;
  }
}
