.content {
  flex: 1;
  height: 100%;
  // overflow-y: auto;
  position: relative;
  padding-bottom: 4vh;

  &.content--layout {
    display: flex;
    flex-direction: column;
    padding-top: 29px;
  }

  &__inner {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    padding: 2em 2em 0;
  }

  // 입력창 제외- 스크롤 가능한 부분
  .top--scrollable {
    padding-bottom: 4vh;
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  .content {
    padding-left: 3em;

    // 사이드 메뉴 토글
    // transform: translateX(-100%);
    // transition: 0.25s;
  }
}
