// 추천 리스트
:root {
  --ds-suggest-border-color: #ccdaf58c;
  --ds-suggest-title-text-color: var(--ds-color-black-2);

  --ds-suggest-item-border-color: #e6e6e6;
  --ds-suggest-item-bg: var(--ds-general-color-white);

  --ds-suggest-item-border-color-hover: #007de3;
  --ds-suggest-item-bg-hover: #eef4ff;

  --ds-suggest-item-text-color: var(--ds-color-black-2);
}
[theme="dark"] {
  --ds-suggest-border-color: #ccdaf536;
  --ds-suggest-title-text-color: var(--ds-general-color-white);

  --ds-suggest-item-border-color: #272e39;
  --ds-suggest-item-bg: #272e39;

  --ds-suggest-item-border-color-hover: #485058;
  --ds-suggest-item-bg-hover: #272e39;

  --ds-suggest-item-text-color: var(--ds-general-color-white);
}

.content__suggests_wrapper {
  .content__inner {
    padding-top: 0;
  }
}
.content__suggests {
  padding: 0 2.19em 1.5em;
  margin-bottom: 1.88em;
  border-bottom: 1px solid var(--ds-suggest-border-color);

  &__list {
    display: flex;
    gap: 1em;
  }

  &__title {
    text-align: center;
    margin-bottom: 1.25em;
    font-weight: 300;
    font-size: calc(var(--ds-font-size-base) * 1.125);
    color: var(--ds-suggest-title-text-color);
  }

  &__item {
    // margin-bottom: 0.4em;
    border: 1px solid var(--ds-suggest-item-border-color);
    background: var(--ds-suggest-item-bg);
    border-radius: 0.63em;
    min-height: 109px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 15px;
    transition: 0.1s;
    max-width: 410px;
    flex: 1;

    &:hover {
      border-color: var(--ds-suggest-item-border-color-hover);
      background: var(--ds-suggest-item-bg-hover);
    }
  }

  &__text {
    font-size: var(--ds-font-size-base);
    color: var(--ds-suggest-item-text-color);
    word-break: keep-all;
  }
}

// media
@media (max-width: 996px) {
  .content__suggests__text {
    font-size: calc(var(--ds-font-size-base) * 0.9375);
  }
}

@media (max-width: 615px) {
  .content__suggests__item {
    min-height: 68px;
    // font-size: 0.88em;
  }
}

@media (max-width: 547px) {
  .content__suggests__text {
    font-size: calc(var(--ds-font-size-base) * 0.875);
  }
}

@media (max-width: 615px) {
  .content__suggests__list {
    gap: 0.75em 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
